.highlightMenu_swiperSlideDweb__d3kL1 {
    max-width: 152px !important;
  }
  .highlightMenu_swiperSlideMweb__w68Nf {
    width: 80px !important;
    max-width: 80px !important;
  }
  .highlightMenu_imageDweb__tu9BD {
    max-height: 96px;
    min-height: 96px;
    min-width: 96px;
    max-width: 96px;
  }
  .highlightMenu_imageMweb__U3mSR {
    max-height: 64px;
    min-height: 64px;
    min-width: 64px;
    max-width: 64px;
  }
  